@import "../../../styles/variables";

.date-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: $font-size-base;
    margin-bottom: 5px;
    color: $color-black-light;
    font-weight: 500;
  }

  input[type="date"]:valid {
    color: $color-black-light;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5);
  }

  input {
    color: #aaa;
    padding: 10px;
    padding-right: 3rem;
    border: 1px solid $color-gray-border;
    border-radius: 4px;
    font-size: $font-size-base;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: $btn-color-primary;
      box-shadow: 0 0 4px rgba(64, 112, 244, 0.5);
    }

    &:disabled {
      background-color: $color-gray-light;
      cursor: not-allowed;
      border-color: $color-gray-border;
      color: $text-color-muted;
    }
  }
}
