$secondary-color: #34495e;
$highlight-color: #f39c12;
$white-color: white;
$font-size-base: 16px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.dropdown {
  position: relative;

  .dropdown-toggle {
    color: $white-color;
    background: none;
    border: none;
    font-size: $font-size-base;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;

    &:hover {
      color: $highlight-color;
    }

    svg {
      margin-right: 8px;
    }
  }

  .dropdown-menu {
    list-style: none;
    margin: 0;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $secondary-color;
    padding: 0;
    border-radius: 5px;
    box-shadow: $box-shadow;
    width: 200px;
    z-index: 1000;

    &.active {
      display: block;
    }

    .dropdown-item {
      padding: 10px 20px;
      color: $white-color;
      text-decoration: none;
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $highlight-color;
        color: $white-color;
        cursor: pointer;
      }
    }
  }
}
