@import "../../styles/variables";
@import "../../styles/mixins";

.whatsapp-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 35px;
    height: 35px;
  }
}

@include respond-to(mobile) {
  .whatsapp-button {
    bottom: 100px;
    width: 50px;
    height: 50px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@include respond-to(tablet) {
  .whatsapp-button {
    bottom: 80px;
    width: 60px;
    height: 60px;

    img {
      width: 35px;
      height: 35px;
    }
  }
}
