@import "../../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
// @import "../../components/button/Button";

.register-form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.register-form {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 8px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 90vh;
}

.form-header {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 4px;
    width: 40px;
    border-radius: 8px;
    background-color: #4070f4;
  }
}

.form {
  display: none;
  transition: 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.form.active {
  display: block;
  opacity: 1;
  pointer-events: auto;

  .title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
  }
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.login-link {
  text-align: center;

  a {
    color: #4070f4;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .field-item {
    width: 100%;
  }

  .register-form {
    padding: 20px;
  }

  input,
  textarea,
  select {
    height: 40px;
  }
}
