.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.back-btn .button {
  background-color: #ccc;
  color: #333;
  font-weight: 600;
  padding: 0 20px;
  height: 45px;
  width: 48%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.back-btn .button:hover {
  background-color: #999;
}

.next-btn .button,
.register-btn .button {
  background-color: #5582fc;
  color: white;
  font-weight: 600;
  padding: 0 20px;
  height: 45px;
  width: 48%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.next-btn .button:hover,
.register-btn .button:hover {
  background-color: #265df2;
}

@media (max-width: 768px) {
  .buttons {
    flex-wrap: wrap;
    gap: 10px;
  }

  .back-btn .button,
  .next-btn .button,
  .register-btn .button {
    width: 100%;
    justify-content: center;
  }
}
