@import "../../styles/variables";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: $form-btn-color;
  color: $white-color;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 20px;
  text-align: center;
}

button:hover {
  background-color: $form-btn-hover-color;
}

button i {
  margin-left: 10px;
}

.backBtn {
  background-color: #ccc;
  color: #333;
}

.backBtn:hover {
  background-color: #999;
}
