@import "../../styles/variables";

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  border: none;

  i {
    font-size: 18px;
    margin-left: 8px;
    color: inherit;
  }

  span {
    margin-left: 8px;
    font-size: 14px;
    color: inherit;
  }

  &.primary {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.secondary {
    margin-top: 35px;
    padding: 10px 20px;
    width: fit-content;
    background-color: #ff6600;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;

    &:hover {
      background-color: #cc5200;

      i {
        visibility: visible;
        transition: visibility 0.3s ease;
      }
    }

    span {
      font-size: 20px;
    }

    i {
      margin-left: 10px;
      transition: visibility 0.3s ease;
    }
  }
}
