@import '../../styles/variables';

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;

  .profile-header {
    display: flex;
    align-items: center;
    background-color: $light-gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
  }

  .profile-body {
    width: 100%;
    max-width: 800px;
  }
}
