@import "../../styles/variables";

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.profile-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: #f9f9f9;
}
