@import "../../styles/variables";
@import "../button/Button.scss";

.profile-body {
  width: 100%;
  max-width: 800px;

  .profile-section {
    background-color: $light-gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .bank-account {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .bank-details {
      margin-left: 10px;
    }

    input[type="radio"] {
      accent-color: green;
    }
  }

  .settings-actions {
    .action-btn button {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #ff6600;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #cc5200;
      }
    }

    .action-btn.danger button {
      background-color: #ff4d4d;

      &:hover {
        background-color: #cc0000;
      }
    }

    .action-btn.success button {
      background-color: #00cc66;

      &:hover {
        background-color: #009933;
      }
    }
  }
}

.btn {
  &.cancel-btn {
    background-color: #dc3545;
    color: white;
    margin-right: 10px;
    width: 100%;

    &:hover {
      background-color: #b02a37;
    }
  }

  &.edit-btn {
    background-color: $success-color;
    color: white;
    margin-right: 10px;
    width: 100%;

    &:hover {
      background-color: darken($success-color, 10%);
    }
  }

  &.save-btn {
    background-color: #28a745;
    color: white;
    margin-right: 10px;
    width: 100%;

    &:hover {
      background-color: #1e7e34;
    }
  }

  &.delete-btn {
    background-color: $danger-color;
    color: white;
    margin-right: 10px;
    width: 100%;

    &:hover {
      background-color: darken($danger-color, 10%);
    }
  }
}
