@import "../../../styles/variables";

button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: $font-size-base;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  border: none;
  background-color: #007bff;
  color: $color-white;
  margin-bottom: 5px;

  &:hover {
    background-color: #0056b3;
  }

  i {
    font-size: 18px;
    margin-left: 8px;
    color: inherit;
  }

  span {
    margin-left: 8px;
    font-size: $font-size-base;
    font-weight: 500;
    color: inherit;
  }

  &.hide-text {
    width: 45px;
    height: 45px;
    padding: 10px;
    gap: 0;
    min-width: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 1.5rem;
    }

    span {
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: scale(1);
    }
  }
}
