@import "../../styles/variables";
@import "../../styles/mixins";

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .edit-icon {
    position: absolute;
    inset: auto 0px -10px auto;
    bottom: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: $text-color-light;
    font-size: $font-size-base;
    cursor: pointer;
    border: 2px solid $text-color-light;
    z-index: 2;
    transition: background 0.3s ease, transform 0.2s ease;

    svg {
      font-size: 18px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.8);
      transform: scale(1.1);
    }
  }
}

@include respond-to(mobile) {
  .profile-image {
    width: 100px;
    height: 100px;

    .edit-icon {
      width: 30px;
      height: 30px;
      bottom: 6px;
      right: 6px;

      svg {
        font-size: $font-size-base;
      }
    }
  }
}

@include respond-to(tablet) {
  .profile-image {
    width: 120px;
    height: 120px;
  }
}
