@import "../../styles/variables";

.profile-header {
  display: flex;
  align-items: center;
  background-color: $light-gray;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;

  &:hover .profile-actions {
    opacity: 1;
    visibility: visible;
  }

  .profile-info {
    flex: 1;
    margin-left: 20px;

    .profile-name {
      margin: 0;
      font-size: 24px;
      color: #333;
    }

    .profile-username {
      margin: 5px 0 0;
      color: #666;

      .username-decorator {
        color: $accent-color;
      }
    }

    .profile-member-date {
      margin: 5px 0 0;
      font-size: 14px;
      color: #999;
    }
  }
}
