@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.form-section .btn-change-password {
  @include button($color-success, $color-white);

  &:hover {
    background-color: darken($color-success, 10%);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(1px);
    background-color: darken($color-success, 15%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color-success, 0.4);
  }
}
