@import "../../styles/variables.scss";

.footer {
  background-color: $light-black;
  color: $white-color;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: $accent-color;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 14px;
  }

  .footer a {
    font-size: 14px;
  }
}
