@import "../../styles/variables";

.maintenance-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.close-modal {
  background-color: red;
  color: $color-white;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: $color-black-light;
  margin-bottom: 20px;
}

.top-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.manage-button {
  width: auto;
  background-color: #007bff;
  color: $color-white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manage-button:hover {
  background-color: #0056b3;
}

.calendar-container {
  margin: 20px auto;
  max-width: 1100px;
  text-align: center;
}

.react-calendar {
  border: 1px solid $color-gray-border;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 100%;
}

.react-calendar__tile {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  color: $color-black-light;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: $color-white;
  font-weight: bold;
}

.react-calendar__tile--hover {
  background-color: #e0e7ff;
  color: $color-black-light;
}

.react-calendar__tile--disabled {
  color: $color-gray-border;
}

.react-calendar__navigation button {
  color: #007bff;
  font-weight: bold;
}

.react-calendar__navigation button:disabled {
  color: $color-gray-border;
}

.react-calendar__month-view__days__day--weekend {
  color: #e63946;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: $color-white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modal .react-calendar {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container input {
  width: 250px;
  height: 40px;
  font-size: 14px;
  border: 1px solid $color-gray-border;
  border-radius: 4px;
}

.search-container select {
  width: 200px;
  height: 40px;
  font-size: 14px;
  border: 1px solid $color-gray-border;
  border-radius: 4px;
}

.search-btn {
  width: auto;
  padding: 0 15px;
  height: 40px;
  background-color: $color-danger;
  color: $color-white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn svg {
  width: $font-size-base;
  height: $font-size-base;
}
